<ion-view view-title="DROPZONE">
    <ion-content>
            <!-- Forms -->
            <h4 class="border-top"><i class="icon ion-person"></i>Inscription</h4>
            <div class="list" style="margin-top:20%">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Prénom</span>
                    <input type="text" id="prenom" placeholder="Prénom">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nom</span>
                    <input type="text" id="nom" placeholder="Nom">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Date de naissance</span>
                    <input type="text" id="ddn" placeholder="Date de naissance">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" id="email" placeholder="Email">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Mot de passe</span>
                    <input type="text" id="mdp" placeholder="Mot de passe">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Mot de passe</span>
                    <input type="text" id="mdp2" placeholder="Confirmer le mot de passe">
                </label>

                <br />
                <button class="button button-block button-calm ink" ng-click="inscription()" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Inscription
                </button>
              </div>

        </div>

    </ion-content>
</ion-view>
