
<ion-view view-title="Mes trajets">
    <ion-content ng-controller="MotionCtrl">

    <style>
    .cadre {
      box-sizing: border-box;
      width: 90%;
      margin: 70px auto 0;
      box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
      padding-bottom: 10px;
      padding: 15px 5px 10px 5px !important;
      border-radius: 3px;
      background-color: white !important;
    }

    .has-header {
        top: 0px;
    }

    .bt-trajet{
      width: 10px !important;
      background: #18aa8d;
    }

    .center-icon{
      margin-right: 15px !important;
      color:white;
      margin-left: -10px !important;
    }
    </style>

    <div class="cadre">
      <!-- Forms -->
      <!--<button class="button button-block button-calm ink" ng-click="newTrajet()" data-ink-color="#9DEAFF" data-ink-opacity="1">
          Déclarer un trajet
      </button>-->
      <div ng-controller="ListsCtrl" id="listTransp" class="list" style="margin-top:20%">



      </div>
    </div>




    </ion-content>
</ion-view>
